{% extends "base/base.html" %}

{% block content %}
<div class="container">
  <div class="row about___us">
      <div class="col-12 col-md-5 col-lg-5">
          <span>Our History</span>
          <h1 class="about___us__chapter__title">The Verma Family</h1>
          <img src="/media/images/others/vermafamily.jpg" alt="vermafamilypic" srcset="/media/images/others/vermafamily.jpg">
      </div>
      <div class="col-12 col-md-7 col-lg-7">
          <p>The Verma Family is one of the most prominent and influential political and business families in India. Their lineage in the circles that matter has been since the 16th century. They were foremost freedom fighters as royals led by Late who did not join the British empire in 1800’s and funded the freedom struggle as well as the Indian soldiers revolt against the British colonialists in 1857.</p>
          <p>They have made significant contributions to the fields of politics, business, and literature. The Verma’s are from the Royal Family of Kingdom, His Royal Highness Jung Bahadur Lal Sahay and his successors, of Sasaram in East India. The family abdicated their throne and the Kingdom to migrate to the state of Madhya Pradesh (now Chattisgarh) in 1857-1860’s due to the oppression of the British colonialists.</p>
              
          <p>The patriarch of the current generation of family (Great-great grandson of H.R.H. Jung Bahadur Lal Sahay), Late Shrikant Verma, was a renowned poet, journalist and author. He was also a Member of Parliament of Rajya Sabha (Senate) for 12 years. Late Shrikant Verma was also the General Secretary of Congress Party as well as the Official Spokesperson of the Party from the 1970’s till his demise in 1986.</p>
              
          <p>Late Shrikant Verma's wife, Veena Verma, succeeded her husband Late Shrikant Verma in politics in 1986, as a Member of Parliament - Rajya Sabha (Senate) for 3 terms, and served as the Vice President of Congress Party.</p>
              
          <p>Shrikant Verma and Veena Verma’s only child, Abhishek Verma, is a well known global industrialist and philanthropist. He is the Chairman of the Board of several companies that are aligned with Government of India’s ‘Make In India’ policy and these companies are engaged in businesses across 4 continents.</p>
          
          <p>Abhishek Verma heads the Private Office of Verma Family, a family office that manages the family's investments and philanthropic activities globally.</p>
          
          <p>Abhishek Verma is married to Anca Verma, a Romanian entrepreneur and a well known TV celebrity from România and they have a daughter Nicolle Verma.</p>
      </div>
  </div>
</div>
{% endblock content %}