{% extends "base/base.html" %}

{% block title %}Nicolle Verma | The Verma Family{% endblock %}
{% block meta_desc %}Nicolle Verma the daughter of Abhishek Verma and Anca Verma is currently studying in class 11 at a prestigious private school in Delhi.{% endblock %}

{% block og_title %}Nicolle Verma{% endblock %}

{% block content %}
<div class="container">
    <div class="row card___single__profile">
        <div class="col-12 col-md-5 col-lg-5">
            <div class="single___profile__title">
                <span class="single___profile__span">The Verma Family</span>
                <h1 class="single___profile__heading">Nicolle Verma</h1>
            </div>
            <div class="profile___image__container">
                <img src="/media/images/family/nicolle__verma.png" class="d-block w-100" alt="tvf___profile__img">
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-7">
            <div class="single___profile__info">
                <p>Nicolle Verma the daughter of Abhishek Verma and Anca Verma is currently studying in class 11 at a prestigious private school in Delhi.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}