{% extends "base/base.html" %}

{% block title %}Late Shrikant Verma | The Verma Family{% endblock %}
{% block meta_desc %}Late Shrikant Verma was a prolific writer and published over twenty books of poetry and prose. His poems are known for their simplicity, beauty, and social commentary. Late Shrikant Verma was born in 1931 in Bilaspur, Madhya Pradesh. He graduated from Nagpur University with a Master of Arts degree in Hindi.{% endblock %}

{% block og_title %}Late Shrikant Verma{% endblock %}

{% block content %}
<div class="container">
    <div class="row card___single__profile">
        <div class="col-12 col-md-5 col-lg-5">
            <div class="single___profile__title">
                <span class="single___profile__span">The Verma Family</span>
                <h1 class="single___profile__heading">Late Shrikant Verma</h1>
            </div>
            <div class="profile___image__container">
                <img src="/media/images/family/shrikant__verma.JPG" class="d-block w-100" alt="tvf___profile__img">
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-7">
            <div class="single___profile__info">
                <p>Shrikant Verma was born in 1931 in Bilaspur, Madhya Pradesh. He graduated from Nagpur University with a Master of Arts degree in Hindi.</p>
                <p>Verma began his career as a journalist and worked for several leading newspapers and magazines. In 1976, he entered politics and was 
                    elected to the Indian Parliament as a member of the Indian National Congress party.</p>
                <p>Verma served as a Member of Parliament for two terms and was also a member of the Union Cabinet.</p>
                <p>Verma was a prolific writer and published over twenty books of poetry and prose. His poems are known for their simplicity, beauty, and social commentary.</p>
                <p>Verma was also a strong advocate for social justice and equality. He died in 1986 at the age of 54 in New York due to cancer.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}