{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="not___found">
        <div class="not___found__image">
            <img src="/media/images/error/not-found.svg" alt="not___found" srcset="/media/images/error/not-found.svg">
        </div>
        <div class="not___found__paragraph">
            <h1 class="not___found__heading">The requested page could not be found.</h1>
            <a href="/" class="not___found__btn" >Go to home</a>
        </div>
    </div>
</div>
{% endblock %}